site_name: "Documentation: Schema for Simulation Data"
site_description: |
  Documentation for the schema of Simulation data.
site_author: FAIRmat consortium
repo_url: https://github.com/nomad-coe/nomad-simulations
nav:
  - Home: index.md
  - Simulation schema:
    - Overview: general.md
    - ModelSystem: model_system/model_system.md
    - ModelMethod: model_method/model_method.md
    - Outputs: outputs/outputs.md
  - How to use the Simulation schema: howto_use.md
  - The normalize function: normalize.md
  - Contact: contact.md
theme:
  name: material
  font:
    text: 'Titillium Web'
  logo: assets/nomad-logo.png
  favicon: assets/favicon.png
  features:
    - navigation.instant
    - navigation.footer
  icon:
    repo: fontawesome/brands/github
  palette:
    - media: "(prefers-color-scheme: light)"
      # primary: '#2A4CDF'
      # accent: '#008A67'
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to light mode
plugins:
  - search
  # - bibtex:
      # bib_file: docs/assets/refs.bib
markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - toc:
      permalink: True
      toc_depth: 3
  - pymdownx.arithmatex:
      generic: true
extra_css:
  - stylesheets/extra.css
extra_javascript:
  - 'https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js'
  - 'https://unpkg.com/cytoscape@3.19.1/dist/cytoscape.min.js'
  # - assets/code/parse.js
extra:
  version: 0.1
  generator: false
